.navbar-div{
  display: flex;
  float: right;
  padding-right: 25px;
  padding-top: 12px;;
}

.thumbnail{
  max-height: 250px;
  max-width: 250px;
}

.create-container{
  padding-left: 25px;
  padding-bottom: 25px;
}